<%- include('./layout/head.ejs') %>

<%- include('./layout/defaultStyle.ejs') %>

	<link href="/public/css/users.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<%- include('./layout/header.ejs') %>


		<main>
			<div class="container">
				<div class="user">
					<div class="user__wrapper">
						<div class="user__header">
							Users
						</div>
						<div class="user__body">
							<table class="user__list" cellspacing="1">
								<thead>
									<tr class="user__filter filter">
										<td class="filter__email">Email</td>
										<td class="filter__status">Status</td>
										<td class="filter__password">Password</td>
										<td class="filter__ts_create">Created</td>
										<td class="filter__action">Action</td>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</main>


		<%- include('./layout/footer.ejs') %>
		<%- include('./layout/defaultScript.ejs') %>

		<script src="/public/js/users.js"></script>
	</body>

	</html>