<%- include('./layout/head.ejs') %>
<%- include('./layout/defaultStyle.ejs') %>
	</head>

	<body>
		<%- include('./layout/header.ejs') %>

    <div style="width: 60vw;margin: 130px auto;">
      <h1>Ciname</h1>
      <br>
      <div>
        &nbsp;&nbsp;&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam cupiditate voluptatem aut pariatur. Distinctio consequuntur mollitia quo, explicabo placeat laborum maxime ea eligendi veritatis repellendus! Inventore suscipit voluptate perspiciatis praesentium?
      </div>
      <br>
      <p>
        &nbsp;&nbsp;&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam cupiditate voluptatem aut pariatur. Distinctio consequuntur mollitia quo, explicabo placeat laborum maxime ea eligendi veritatis repellendus! Inventore suscipit voluptate perspiciatis praesentium?
        &nbsp;&nbsp;&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam cupiditate voluptatem aut pariatur. Distinctio consequuntur mollitia quo, explicabo placeat laborum maxime ea eligendi veritatis repellendus! Inventore suscipit voluptate perspiciatis praesentium?
      </p>
      <br>
      <p>
        &nbsp;&nbsp;&nbsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam cupiditate voluptatem aut pariatur. Distinctio consequuntur mollitia quo, explicabo placeat laborum maxime ea eligendi veritatis repellendus! Inventore suscipit voluptate perspiciatis praesentium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi soluta pariatur veniam beatae, asperiores unde voluptatum excepturi alias architecto vel distinctio dolor voluptate repellendus voluptates non! Neque facere fugit ex!
      </p>
    </div>


		<%- include('./layout/footer.ejs') %>
		<%- include('./layout/defaultScript.ejs') %>
	</body>

	</html>